################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Alive/.vs/Alive/v17
/Alive/x64/Debug
